.App {
  text-align: center;
}

body {
  background: #ffffff url("assets/images/nuggets.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.Card {
  width: 18rem;
  margin: auto;
  margin-top: 10rem;
}

.textContainer {
  height: 140px;
}

.CardReveal {
  margin: auto;
  margin-top: 10rem;
  text-align: left;
  width: 25rem;
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
}

.formContainer {
  border: solid 1px #0069d9;
  border-radius: .25rem;
  margin: 5px;
  padding: 10px;
}
